version: '3.1'
services:
  mongo:
    image: mongo
    command: --serviceExecutor adaptive
    container_name: 'bluecoders-mongodb-container'
    restart: always
    environment:
      MONGO_INITDB_DATABASE: todolist
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - '27017-27019:27017-27019'
